extends layout

block content
  center
    h1 Välkommen!
  p Teknologföreningen firar sin 144:e årsfest lördagen den 12 mars 2016 och vi önskar Er hjärtligt välkommen att fira den med oss.

  p Festligheterna inleds med solenn akt i Design Factory på Aalto-universitetets campus i Otnäs där det finns möjlighet att framföra hälsningar till jubilaren.

  p Efter solenna akten fortsätter festligheterna på Urdsgjallar.

  p Klädsel: Högtidsdräkt med akademiska hederstecken.

  p Vi önskar alla gäster en trevlig och minnesrik fest!

  p Anmälan öppnar den 14 februari för inbjudna gäster och den 27 februari för övriga.

  center
    a#register_button(href='/register/') Anmälan

  p
    | Vid frågor, kontakta årsfestmarskalkerna på 
    a(href='mailto:arsfest@teknolog.fi') arsfest@teknolog.fi
    |  eller

  p Emma Ringbom 050 538 7075
  p Mya Rydman 050 366 9046


