doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Playfair+Display')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    a(href='/' class='logo')

    #container
      block content
    #ad
      p#ad_header I samarbete med
      a(href='https://www.tfif.fi/')
        img(src='/images/tfif.png', height='40px')
      p#ad_header Teknologföreningens nationsföretag
      a(href='http://www.walki.com/')
        img(src='/images/walki.png', height='40px')
