doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Playfair+Display')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body

    a(href='/' class='logo')

    #container
      block content
    #ad
      p.ad_header I samarbete med
      a(href='https://www.tfif.fi/')
        img(src='/images/tfif.png', alt='TFiF', width='58', height='58')
      a(href='https://www.nibe.fi/')
        img(src='/images/nibe.png', alt='NIBE', width='286', height='58')
      a(href='http://www.pqr.fi/')
        img(src='/images/pqr_consult.png', alt='Oy PQR Consult AB', width='286', height='58')
      a(href='http://www.sitowise.fi/')
        img(src='/images/sitowise_logo.png', alt='Sitowise', width='286', height='58')
      a(href='http://www.su.fi/')
        img(src='/images/SU-RKP.png', alt='Svensk Ungdom', width='286', height='58')
