doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Playfair+Display')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/')
      img(src='/images/tf144_logo.png')
    #container
      block content
    #ad
      p#ad_header I samarbete med
      a(href='https://www.fim.com/sv/')
        img(src='/images/fim.jpg', height='40px')
      a(href='https://www.tfif.fi/')
        img(src='/images/tfif.png', height='40px')
      a(href='https://www.thermofisher.com/fi/en/home.html')
        img(src='/images/thermo_fisher_scientific.png', height='40px')
      p#ad_header Teknologföreningens nationsföretag
      a(href='http://www.aktia.fi/sv/')
        img(src='/images/aktia_esbo_hagalund.png', height='40px')
      a(href='http://www.elisa.fi/')
        img(src='/images/elisa.png', height='40px')
      a(href='http://www.walki.com/')
        img(src='/images/walki.png', height='40px')
