doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Playfair+Display')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    img(src='/images/tf144_logo.png')
    #container
      block content
