extends layout

block content
  .center_text
    h1 Deltagare
  p
    ol
      each participant in data
        if participant.reserve_list
          li= participant.first_name + " " + participant.last_name + " "
            span(style="font-style: italic;")
              | (reservplats)
        else
          li= participant.first_name + " " + participant.last_name
  p
    a(href="/") Tillbaka till startsidan
