extends layout

block content
  center
    h1 Deltagare
  p
    ol
      each participant in data
        li= participant.first_name + " " + participant.last_name
          if participant.organisation
            |  (#{participant.organisation})

