extends layout

block content
  .center_text
    h1 Anmälan

  if num_participants>=234
    div(style="background-color: #e1c2fe; border: 1px solid; padding: 6px; font-size: 1.2em;")
      | Alla platser till årsfesten är tyvärr fyllda. Du kan fortfarande anmäla dig till reservlistan nedan. Vi kontaktar dig separat ifall lediga platser frigörs till festen.

  form(action="/submit/", name="registration", method="post")
    .form-group
      label(for="first_name") Förnamn
      input(type="text", name="first_name", required).form-control
    .form-group
      label(for="last_name") Efternamn
      input(type="text", name="last_name", required).form-control
    .form-group
      label(for="email") E-postadress
      input(type="email", name="email", required).form-control

    .radio
      label
        input(type="radio" name="inbjuden" value="inbjuden" checked)
        | Inbjuden gäst/avec
    .radio
      label
        input(type="radio" name="inbjuden" value="tfmedlem")
        | Ordinarie medlem/avec

    .form-group
      label(for="organisation") Post/organisation: (endast för inbjudna gäster)
      input(type="text", name="organisation").form-control
    h3 Solenn akt
    .checkbox
      label
        input(type="checkbox", name="solenn_akt", value="1")
        | Deltar i solenn akt
    .checkbox
      label
        input(type="checkbox", name="greeting", value="1")
        | Vill framföra hälsning
    h3 Priskategori
    .radio
      label
        input(type="radio", name="price", value="student-tf", checked)
        | Studerande TF (75 €)
    .radio
      label
        input(type="radio", name="price", value="student-other")
        | Studerande övriga (80 €)
    .radio
      label
        input(type="radio", name="price", value="normal")
        | Icke-studerande (90 €)
    .radio
      label
        input(type="radio", name="price", value="free")
        | Gratisplats (0 €)
    .radio
      label
        input(type="radio", name="price", value="supporter")
        | Understödspris (150 €)
    h3 Donation till John Nurminens stiftelse
    .radio
      label
        select(name="donation")
          option(value=0, selected) 0 €
          option(value=5) 5 €
          option(value=10) 10 €
          option(value=15) 15 €
    p
      | Rahankeräyslupa: RA/2016/682 ja 31.10.2016. Toimeenpanoaika ja -alue: 1.1.2017 – 31.12.2021 , koko Suomen alueella Ahvenanmaata lukuun ottamatta.
      | Lahjoitetut varat käytetään John Nurmisen Säätiön toimintaan Itämeren ja sen perinnön pelastamiseen.
    h3 Detaljer
    .checkbox
      label
        input(type="checkbox", name="alcoholfree", value="1")
        | Alkoholfri
    .form-group
      label(for="diet") Allergier/dieter
      input(type="text", name="diet").form-control
    .form-group
      label(for="avec") Avec (obs: måste anmälas skilt!)
      input(type="text", name="avec").form-control
    h3 Sillfrukost
    .checkbox
      label
        input(type="checkbox", name="sillis", value="1")
        | Jag deltar i sillfrukosten (förköp: 10 €, vid dörren 12 €)
    .form-group
      label(for="misc") Övrigt (t.ex. önskemål om bordssällskap)
      input(type="text", name="misc").form-control
    .checkbox
      label
        input(type="checkbox", name="gdpr", value="1" required)
        | Jag godkänner att mina uppgifter sparas hos TF fram till och med årsfesten och får användas av arrangörerna. Dessutom godkänner jag att mitt namn får publiceras på listan över anmälda till festen.
    div.actions
      input(type="submit", value="Skicka")
    p
      a(href="/") Tillbaka till startsidan
