body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding-top: 70px;
}

#container {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 40px;
  background-color: #fff;
  width: 50%;
  text-align: left;
  font-family: 'Lato', sans-serif;
}

#schedule {
  margin-bottom: 30px;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  color: #ae2452;
}

h1, h2 {
  padding-bottom: 20px;
}

a, input[type="submit"] {
  font-weight: bold;
  color: #ae2452;
}

#register_button, input[type="submit"] {
  display: inline-block;
  border-style: solid;
  border-color: #ae2452;
  padding: 10px;
  background-color: #fff;
  color: #ae2452;
  font-family: 'Lato', serif;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

#register_button + #register_button {
  margin-left: 5px;
